conda {
    enabled = true
    createTimeout = "1 h"
}

params {
    raw_fastq = '/home/ndo/bash_output/00_raw_fastq/PE/*_{1,2}.fastq'
    raw_fastq_SE = '/home/ndo/bash_output/00_raw_fastq/SE/*.fastq'
    minQual = 20
    minLen = 20
    refGenome = "/home/ndo/GIABv3Ref/GRCh38_GIABv3_no_alt_analysis_set_maskedGRC_decoys_MAP2K3_KMT2C_KCNJ18.fasta"
    ref_dir= "/home/ndo/GIABv3Ref"
    tmp_dir = "/home/ndo/tmp-dir"
    remove_dup_metrics = "/home/ndo/bash_script/removedup_script/marked_dup_metrics.txt"
    prior = 0.99
    giab_bed = "/home/ndo/GIAB-GT/HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
    AF_THR = "0.01"
    outDir = "/home/ndo/nextflow_SE/outDir"
}

process {
    executor = 'slurm'
    withLabel: norm {
    cpus = 1
    memory = 2.GB 
    }
    
    withLabel: high {
    memory = 55.GB
    cpus = 2
    }

    withLabel: short {cpus = 2}

    withLabel: high_cpus {
    clusterOptions = "--nodes=2"
    cpus = 10
    memory = 10.GB 
    }
}

timeline {
    enable = true
    file = "$params.outDir/timeline.html"
}

report {
    enable = true
    file = "$params.outDir/report.html"
}

dag {
    enabled = true
    file = "$params.outDir/dag.html"
    dag.overwrite = true
}
